*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #5c3317;
    color: white;
    text-align: center;
    padding: 20px;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 0;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: #ffd700;
}
/* Phan 2 Viet Banner */
.banner img{
    width: 100%;
    object-fit: over;
    display: block;
}
.about-content{
    background-color: #fff8f0;
    padding: 40px;
    text-align: center;
}
.about-content h2{
    color: #5c3317;
    font-size: 28px;
}
.about-content .btn{
    display: inline-block;
    background-color: #5c3317;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
    transition: ease 0.25;
}
.about-content .btn:hover{
    background-color: #884513;
}
/*Phan 3 */
#menu{
    background-color: #fff;
    padding: 40px;
    text-align: center;
}
#menu h2{
    color: #5c3317;
    font-size: 28px;
    margin-bottom: 30px;
}
.menu-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.card{
    width: 33.33%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.25 ease;
}
.card:hover{
    transform: translateY(-5px);
}
.card img{
    width: 100%;
    object-fit: cover;
}
.card h3{
    padding-top: 5px;
    margin: 0;
}
.card p{
    color: #555;
    font-size: 16px;
}
.price{
    display: block;
    color: red;
    font-weight: 700;
    padding: 0 15px 15px;
}
/* Phần 4 Contact */
#contact{
    background-color: #fff8f0;
    padding: 40px 40px;
    text-align: center;
}
#contact h2{
    color: #5c3317;
    font-size: 20px;
    margin-bottom: 30px;
}
.content-wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.contact-info , .contact-form{
    width: 300px;
    text-align: left;
}
.contact-form input, .contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
.contact-form button{
    background-color: #5c3317;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    transition: ease 0.25s;
}
.contact-form button:hover{
    background-color: #894513;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 15px;
}